<!--header-->
<h1>{{ fullname.toUpperCase() }}</h1>

<div id="contacts" *ngIf="websites.length <= 2">
  <div>{{ phoneNo }}</div>
  <div>{{ email }}</div>
  <div *ngFor="let website of websites"><a href="https://www.{{ website }}">{{ website }}</a></div>
</div><br>

<div *ngIf="statements.length > 0">
  <p *ngFor="let statement of statements">{{ statement }}</p>
</div><br>

<!--skills-->
<app-title [title]="subTitle[0]"></app-title><br>

<div class="skills">
  <div *ngFor="let skill of skills">
    <table>
      <tbody>
      <tr>
        <td>{{ skill.name }}</td>
        <td>
          <svg xmlns="http://www.w3.org/2000/svg" width="118" height="24" *ngIf="skill.value == 1">
            <path fill="#4f4f4f" d="M0 0h21v23H0z"/>
            <path d="M24 0h21v23H24zm24 0h21v23H48zm24 0h21v23H72zm24 0h21v23H96z" fill="#e0e0e0"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="118" height="24" *ngIf="skill.value == 2">
            <path d="M0 0h21v23H0zm24 0h21v23H24z" fill="#4f4f4f"/>
            <path d="M48 0h21v23H48zm24 0h21v23H72zm24 0h21v23H96z" fill="#e0e0e0"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="118" height="24" *ngIf="skill.value == 3">
            <path d="M0 0h21v23H0zm24 0h21v23H24zm24 0h21v23H48z" fill="#4f4f4f"/>
            <path d="M72 0h21v23H72zm24 0h21v23H96z" fill="#e0e0e0"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="118" height="24" *ngIf="skill.value == 4">
            <path d="M0 0h21v23H0zm24 0h21v23H24zm24 0h21v23H48zm24 0h21v23H72z" fill="#4f4f4f"/>
            <path fill="#e0e0e0" d="M96 0h21v23H96z"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="118" height="24"  fill="#4f4f4f" *ngIf="skill.value == 5">
            <path d="M0 0h21v23H0zm24 0h21v23H24zm24 0h21v23H48zm24 0h21v23H72zm24 0h21v23H96z"/>
          </svg>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div><br><br>

<!--work history-->
<app-history [title]="subTitle[1]" [historyObj]="workHistory"></app-history>
<br>

<!--education-->
<app-history [title]="subTitle[2]" [historyObj]="educations"></app-history>
<br>

<!--export-->
<div id="export">
  <p>Download my resume and cover letter here!</p>
  <button (click)="printPdf()">Resume</button>
  <button (click)="printCoverLetter()">Cover Letter</button>
</div>
<br><br>
